<h1>Listing projects</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Project start date</th>
    <th>Project manager</th>
    <th>Title</th>
    <th>Overview</th>
    <th>Status</th>
    <th>Live project</th>
    <th>Team member list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.Company_Name %></td>
    <td><%= project.Project_Start_Date %></td>
    <td><%= project.Project_Manager %></td>
    <td><%= project.Title %></td>
    <td><%= project.Overview %></td>
    <td><%= project.Status %></td>
    <td><%= project.Live_Project %></td>
    <td><%= project.Team_Member_List %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
